<style>
  #shopify-section-{{section.id }} .contact-form {
    padding: 20px;
    background: #f9f9f9;
  }
  #shopify-section-{{section.id }} .contact-info {
    margin-top: 20px;
  }
  #shopify-section-{{section.id }} .map-container {
    height: 450px;
  }
  #shopify-section-{{section.id }} iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
</style>

<div class="container">
  {% render 'breadcrumb' %}
  <div class="row">
    <div class="col-md-6">
      {% if section.settings.show_map %}
        <div class="map-container">
          {{ section.settings.map_code }}
        </div>
      {% endif %}
      {% if section.settings.address %}
        <div class="contact-info">
          <h3>{{ section.settings.title_address }}</h3>
          {{ section.settings.address }}
        </div>
      {% endif %}
    </div>
    <div class="col-md-6">
      <div class="contact-form">
        <div class="form-horizontal">
          {% form 'contact' %}
            {% if form.posted_successfully? %}
              <p class="note form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}

            {% include 'form-errors-custom' %}
            <fieldset>
              <legend>{{ 'contact.form.leave_msg' | t }}</legend>
              <div class="form-group">
                <div class="col-sm-12">
                  <input
                    type="text"
                    id="contactFormName"
                    name="contact[name]"
                    class="form-control"
                    placeholder="{{ 'contact.form.name' | t }}"
                    value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                  >
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input
                    type="text"
                    id="contactFormEmail"
                    name="contact[email]"
                    class="form-control"
                    placeholder="{{ 'contact.form.email' | t }}"
                    autocorrect="off"
                    autocapitalize="off"
                    value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                  >
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input
                    type="text"
                    id="contactFormPhone"
                    name="contact[phone]"
                    class="form-control"
                    placeholder="{{ 'contact.form.phone' | t }}"
                    value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                  >
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <textarea
                    class="form-control"
                    rows="10"
                    id="contactFormMessage"
                    name="contact[body]"
                    placeholder="{{ 'contact.form.message' | t }}"
                  >{% if form.body %}{{ form.body }}{% endif %}</textarea>
                </div>
              </div>
              {% if section.settings.accept_check_enable %}
                <div class="form-group">
                  <div class="col-sm-12">
                    <p style="text-align: center; clear: both; margin: 10px 0;">
                      <input style="margin:0; vertical-align: middle;" type="checkbox" id="contact_accept_agree">
                      <label style="display:inline; float:none" for="agree">
                        {{ section.settings.accept_text }}
                      </label>
                    </p>
                  </div>
                </div>
              {% endif %}
            </fieldset>
            <div class="buttons submit">
              <div class="text-center">
                <input
                  class="btn btn-primary"
                  id="submitMessage"
                  name="submitMessage"
                  type="submit"
                  value="{{ 'contact.form.send' | t }}"
                >
              </div>
            </div>
          {% endform %}
        </div>
      </div>
    </div>
    {% if section.settings.show_content %}
      <div class="col-sm-12">
        {{ page.content }}
      </div>
    {% endif %}
  </div>
</div>
