<nav id="top" class="hd2">
  <div class="container">
    <div class="container-inner">
      <div class="box box-left">
        <div class="social-top">
          {% if section.settings.header_social_enable %}
          {% include 'social-button' %}
          {% endif %}
        </div>
      </div>
      <div class="box box-right">
        <div class="setting">
          <div class="btn-group">
            <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
              <span class="ion-android-person"></span><span class="hidden-xs">{{ 'homepage.navigation.my_account' | t }}</span><i class="ion-ios-arrow-down"></i></button>
            <div class="dropdown-menu" >
              <div id="top-links">
                <ul class="ul-account list-unstyled">
                  {% if shop.customer_accounts_enabled %}
                  {% if customer %}
                  <li><a href="/account"><span>{{ 'homepage.navigation.my_account' | t }}</span></a></li>
                  <li><a href="/account/logout" id="customer_logout_link"><span>{{ 'layout.customer.log_out' | t }}</span></a></li>
                  {% else %}
                  <li><a href="/account/login" id="customer_login_link"><span>{{ 'layout.customer.sign_in' | t }}</span></a></li>
                  {% if shop.customer_accounts_optional %}
                  <li><a href="/account/register" id="customer_register_link"><span>{{ 'layout.customer.create_account' | t }}</span></a></li>
                  {% endif %}
                  {% endif %}
                  {% endif %}
                  <li><a href="/cart"><span>{{ 'homepage.navigation.shopping_cart' | t }}</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% include 'header-currency' %}
      </div>
    </div>
  </div>
</nav>
<header class="hd2 hd3">
  <div class="header-inner ">
    <div class="container">
      <div class="container-inner">
        <div class="inner">
          <div class="inner-inner">
            {% assign color_skin = settings.color_skin %}
            {% assign hd_menu_color = settings.hd_menu_color %}
            <div class="col-menu-mobile">
              <style>
                #oc-menu-m{{section.id}} .oc-menu-bar {
                  background: #FFFFFF;
                  color: #333333;
                  padding: 14px 15px 14px 15px;
                  position: relative;
                }
                #oc-menu-m{{section.id}}.oc-menu-bar {
                  background: #FFFFFF;
                  color: #333333;
                }
                #oc-menu-m{{section.id}} .ul-top-items .li-top-item {
                  background: #FFFFFF;
                  color: {{ hd_menu_color }};
                }
                #oc-menu-m{{section.id}} .ul-top-items .li-top-item .a-top-link {
                  padding: 5px 20px 5px 20px;
                  color: {{ hd_menu_color }};
                  font-size: 14px;
                  line-height: 25px;
                  text-transform: uppercase;
                  font-weight: 700;
                }
                #oc-menu-m{{section.id}} .ul-top-items .li-top-item:hover, #oc-menu-m{{section.id}} .ul-top-items .li-top-item.active {
                  background: #FFFFFF;
                  color: {{ color_skin }};
                }
                #oc-menu-m{{section.id}} .ul-top-items .li-top-item:hover .a-top-link, #oc-menu-m{{section.id}} .ul-top-items .li-top-item.active .a-top-link{
                  color: {{ color_skin }};
                  font-weight: 700;
                }
                #oc-menu-m{{section.id}} .mega-menu-container {
                  width: 100%;
                  background: #FFFFFF;
                  padding: 30px 30px 30px 30px;
                }
                #oc-menu-m{{section.id}} .mega-menu-container .a-mega-second-link,#oc-menu-m{{section.id}} .mega-menu-container .widget-html-title {
                  color: #FFFFFF;
                }
                #oc-menu-m{{section.id}} .mega-menu-container .a-mega-third-link {
                  color: #FFFFFF;
                }
                #oc-menu-m{{section.id}} .ul-second-items .li-second-items {
                  background: #FFFFFF;
                  color: {{ hd_menu_color }};
                }
                #oc-menu-m{{section.id}} .ul-second-items .li-second-items:hover, #oc-menu-m{{section.id}} .ul-second-items .li-second-items.active {
                  background: #FFFFFF;
                  color: {{ color_skin }};
                }
                #oc-menu-m{{section.id}} .ul-second-items .li-second-items .a-second-link {
                  color: {{ hd_menu_color }};
                  font-size: 14px;
                  text-transform: capitalize;
                  font-weight: 600;
                }
                #oc-menu-m{{section.id}} .ul-second-items .li-second-items:hover .a-second-link, #oc-menu-m{{section.id}} .ul-second-items .li-second-items.active .a-second-link {
                  color: {{ color_skin }};
                  font-weight: 600;
                }
                #oc-menu-m{{section.id}} .ul-third-items .li-third-items {
                  background: #FFFFFF;
                }
                #oc-menu-m{{section.id}} .ul-third-items .li-third-items:hover, #oc-menu-m{{section.id}} .ul-third-items .li-third-items.active {
                  background: #FFFFFF;
                }
                #oc-menu-m{{section.id}} .ul-third-items .li-third-items .a-third-link {
                  color: #757575;
                  font-size: 14px;
                  text-transform: capitalize;
                  font-weight: 400;
                }
                #oc-menu-m{{section.id}} .ul-third-items .li-third-items:hover .a-third-link, #oc-menu-m{{section.id}} .ul-third-items .li-third-items.active .a-third-link {
                  color: {{ color_skin }};
                  font-weight: 400;
                }
              </style>
              {% include 'header-mob-nav' %}
            </div>
            {% include 'logo' %}
            <div class="box-cart">
              {% if settings.hide_wishlist == false %}
              <div class="wishlist">
                <a href="/pages/wishlist" id="wishlist-total"><span>{{ 'homepage.navigation.wish_list' | t }}<span class="count">0</span></span></a></div>
              {% endif %}
              {% include 'header-cart'%}
            </div>
          </div>
        </div>
        {% include 'header-search' %}
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="top-menu fix">
    <div class="container">
      <div class="container-inner">
        <div class="col-hoz ">
          <style>
            #oc-menu-{{section.id}} .oc-menu-bar {
              background: #FFFFFF;
              color: #FFFFFF;
              padding: 0px 0px 0px 0px;
              position: relative;
            }
            #oc-menu-{{section.id}}.oc-menu-bar {
              background: #FFFFFF;
              color: #FFFFFF;
            }
            #oc-menu-{{section.id}} .ul-top-items .li-top-item {
              background: #FFFFFF;
              color: {{ hd_menu_color }};
            }
            #oc-menu-{{section.id}} .ul-top-items .li-top-item .a-top-link {
              padding: 15px 20px 15px 20px;
              color: {{ hd_menu_color }};
              font-size: 14px;
              line-height: 24px;
              text-transform: uppercase;
              font-weight: 700;
            }
            #oc-menu-{{section.id}} .ul-top-items .li-top-item:hover, #oc-menu-{{section.id}} .ul-top-items .li-top-item.active {
              background: #FFFFFF;
              color: #FFFFFF;
            }
            #oc-menu-{{section.id}} .ul-top-items .li-top-item:hover .a-top-link, #oc-menu-{{section.id}} .ul-top-items .li-top-item.active .a-top-link{
              color: #FFFFFF;
              font-weight: 700;
            }
            #oc-menu-{{section.id}} .mega-menu-container {
              width: 100%;
              background: #FFFFFF;
              padding: 25px 30px 30px 30px;
            }
            #oc-menu-{{section.id}} .mega-menu-container .a-mega-second-link,#oc-menu-{{section.id}} .mega-menu-container .widget-html-title {
              color: {{ hd_menu_color }};
            }
            #oc-menu-{{section.id}} .mega-menu-container .a-mega-third-link {
              color: #757575;
            }
            #oc-menu-{{section.id}} .ul-second-items .li-second-items {
              background: #FFFFFF;
              color: {{ hd_menu_color }};
            }
            #oc-menu-{{section.id}} .ul-second-items .li-second-items:hover, #oc-menu-{{section.id}} .ul-second-items .li-second-items.active {
              background: #FFFFFF;
              color: {{ color_skin }};
            }
            #oc-menu-{{section.id}} .ul-second-items .li-second-items .a-second-link {
              color: {{ hd_menu_color }};
              font-size: 14px;
              text-transform: uppercase;
              font-weight: 600;
            }
            #oc-menu-{{section.id}} .ul-second-items .li-second-items:hover .a-second-link, #oc-menu-{{section.id}} .ul-second-items .li-second-items.active .a-second-link {
              color: {{ color_skin }};
              font-weight: 600;
            }
            #oc-menu-{{section.id}} .ul-third-items .li-third-items {
              background: #FFFFFF;
            }
            #oc-menu-{{section.id}} .ul-third-items .li-third-items:hover, #oc-menu-{{section.id}} .ul-third-items .li-third-items.active {
              background: #FFFFFF;
            }
            #oc-menu-{{section.id}} .ul-third-items .li-third-items .a-third-link {
              color: #757575;
              font-size: 14px;
              text-transform: capitalize;
              font-weight: 400;
            }
            #oc-menu-{{section.id}} .ul-third-items .li-third-items:hover .a-third-link, #oc-menu-{{section.id}} .ul-third-items .li-third-items.active .a-third-link {
              color: {{ color_skin }};
              font-weight: 400;
            }
          </style>
          {% include 'main-menu', c:false %}
        </div>
      </div>
    </div>
  </div>
</header>