{% unless current_collection %}
  {% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

{% comment %}Select the product image size from settings.{% endcomment %}
{% assign img_size = settings.img_size_grid %}
<div class="product-layout product-list col-xs-12 product-item">
  <div class="product-thumb">
    <div class="item item1">
      <div class="item-inner">
        <div class="caption-top">
          <h4 class="product-name">
            <a href="{{ product.url | within: collection }}">
              {% if settings.limit_title_words == true -%}
                {{- product.title | truncatewords: settings.limit_title_words_count, '' -}}
              {%- else -%}
                {{- product.title -}}
              {%- endif %}
            </a>
          </h4>
          <!-- Tydal Reviews Stars Begin -->
 <div class="tydal-reviews-star-rating" data-product-id="{{ product.id }}" data-rating="{{ product.metafields.ba_rev.review_data.stars }}" data-count="{{ product.metafields.ba_rev.review_data.reviews_count }}"> <div class="tydal-reviews-rating-count"></div></div>
 <!-- Tydal Reviews Stars End -->
          {% if settings.grid_vendor_enable %}
            <p class="manufacture-product">
              {% assign vendor_link = product.vendor | link_to_vendor %}
              {% assign sku = product.selected_or_first_available_variant.sku %}
              {% assign modified_vendor_link = vendor_link | split: '>' %}
              {% assign link_start = modified_vendor_link[0] | append: '>' %}
              {% assign link_end = modified_vendor_link[1] | split: '</a>' %}
              {% capture vendor_link_with_sku %}
              {{ link_start }}
              {% if product.metafields.custom.calidad %}
                {{ product.metafields.custom.calidad | append: " - " | append: sku }}
                {% else %}
                {{ sku }}
              {% endif %}
              
              {{ "</a>" }}
            {% endcapture %}
              {{ vendor_link_with_sku }}
            </p>
          {% endif %}
        </div>
        <div class="image images-container">
          <div class="inner">
            <!--<div class="box-label">
              {% include 'product-label' %}
            </div>-->
            <div class="image rotate-image-container">
              {% if section.settings.product_grid_img_carousel == true %}
                <div
                  id="myCarousel{{ section.id }}-{{product.id}}"
                  class="carousel slide img-other"
                  data-ride="carousel"
                  data-interval="false"
                >
                  <!-- product inside carousel -->
                  <div class="carousel-inner" role="listbox">
                    {% for image in product.images %}
                      <div class="item {% if forloop.first == true %}active{% endif %}">
                        <a
                          class="product-image"
                          title="{{ product.title }}"
                          href="{{ product.url | within: collection }}"
                        >
                          <img class="img-responsive lazy" src="{{ image.src | img_url: img_size }}" alt="">
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                  <!-- Left and right controls -->
                  <a
                    class="left carousel-control"
                    href="#myCarousel{{ section.id }}-{{product.id}}"
                    role="button"
                    data-slide="prev"
                  >
                    <i class="fa fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a
                    class="right carousel-control"
                    href="#myCarousel{{ section.id }}-{{product.id}}"
                    role="button"
                    data-slide="next"
                  >
                    <i class="fa fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              {% else %}
                <a href="{{ product.url }}" class="">
                  <img
                    class="img-responsive {% if settings.hide_hover != true %}has-rotator{% endif %} img-default-image img-cate-{{product.id}}{% if section %}-{{section.id}}{%endif %}"
                    src="{{ product.featured_image.src | img_url: img_size }}"
                    alt="{{ product.featured_image.alt | escape }}"
                  >
                  {% if settings.hide_hover != true %}
                    <img
                      class="img-r"
                      src="{{ product.images.last | product_img_url: img_size }}"
                      alt="{{ product.images.last.alt | escape }}"
                    >
                  {% endif %}
                  {% if settings.grid_color_swatches != 'false' %}
                    {% if product.available and product.variants.size > 1 %}
                      {% include 'swatch-grid-img' with 'Color' %}
                    {% endif %}
                  {% endif %}
                </a>
              {% endif %}
              {% if section.settings.product_grid_img_carousel == false %}
                {% if settings.grid_color_swatches != 'false' %}
                  {% if product.available and product.variants.size > 1 %}
                    {% include 'swatch-grid' with 'Color' %}
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div class="button-group action-links">
              {% if settings.hide_quick_view == false %}
                <button
                  class="button btn-quickview quickview"
                  type="button"
                  title="{{ 'products.product.quickview' | t }}"
                  data-toggle="modal"
                  data-target="#productModal"
                  data-productinfo="{{ product | json | escape}}"
                  data-original-title="{{ 'products.product.quickview' | t }}"
                >
                  <span>{{ 'products.product.quickview' | t }}</span>
                </button>
              {% endif %}
              {% include 'product-wishlist' %}
              <button
                class="button btn-compare"
                type="button"
                data-toggle="tooltip"
                title="{{ 'products.product.view_details' | t }}"
                onclick="location.href='{{ product.url }}';"
              >
                <span>{{ 'products.product.view_details' | t }}</span>
              </button>
            </div>
            {% include 'deal' %}
          </div>
          {% include 'urls-brands' %}
                {% assign vendormay = product.vendor | upcase %}
                {% if vendormay == "LEMFÖRDER" %}
                    <div style="position: absolute;z-index: 3;right: 10px;top: 5px;">
                      <img style="height:25px;" src="https://cdn.shopify.com/s/files/1/0841/2666/2935/files/icon-LEMFORDER.png?v=1727208348" />
                    </div>
                  {% elsif vendormay == "URO" %}
                    <div style="position: absolute;z-index: 3;right: 10px;top: 5px;">
                      <img style="height:30px;" src="https://cdn.shopify.com/s/files/1/0841/2666/2935/files/icon-URO.png?v=1726606840" />
                    </div>
                    {% elsif vendormay == "NE" %}
                  <div style="position: absolute;z-index: 3;right: 10px;top: 5px;">
                      <img style="height:40px;" src="https://cdn.shopify.com/s/files/1/0841/2666/2935/files/icon-NPR.png?v=1727209765" />
                    </div>
                    {% elsif vendormay == "BMW&MINI-GENUINA" %}
                  <div style="position: absolute;z-index: 3;right: 10px;top: 5px;">
                      <img style="height:35px;" src="https://cdn.shopify.com/s/files/1/0841/2666/2935/files/icon-BMW_MINI-GENUINA.png?v=1730308300" />
                    </div>
                    {% elsif vendormay == "MINI-GENUINA" %}
                  <div style="position: absolute;z-index: 3;right: 10px;top: 5px;">
                      <img style="height:35px;" src="https://cdn.shopify.com/s/files/1/0841/2666/2935/files/icon-MINI-GENUINA.png?v=1730308163" />
                    </div>
                    {% elsif vendormay == "INA" %}
                  <div style="position: absolute;z-index: 3;right: 10px;top: 5px;">
                      <img style="height:40px;" src="https://cdn.shopify.com/s/files/1/0841/2666/2935/files/icon-INA.png?v=1727208078" />
                    </div>
                    {% else %}
                 {% for url in urls_brands %}
                  {% if url contains vendormay %}
                    {%- assign parts = url | split: "height" -%}
                    {%- assign urlpart = parts[0] -%}
                    {%- assign heightpart = "height" | append: parts[1] -%}
                    <div style="position: absolute;z-index: 3;right: 10px;top: 5px;">
                      <img style={{ heightpart }} src={{ urlpart }} />
                    </div>
                  {% endif %}
                {% endfor %}
                  {% endif %}
        </div>
        <!-- image -->
        <div class="caption">
          <div class="inner {% if settings.grid_color_swatches != 'false' and section.settings.product_grid_img_carousel != true %} swtch{% endif %}">
            {% include 'review' %}
            {% if section.settings.show_summary %}
              {% assign product_summary_words = section.settings.product_summary_words | times: 1 %}
              <p class="product-des">
                {% if product.description contains '[summary]' %}
                  {{
                    product.description
                    | split: '[summary]'
                    | last
                    | split: '[/summary]'
                    | first
                    | strip_html
                    | truncatewords: product_summary_words
                  }}
                {% else %}
                  {{
                    product.content
                    | split: '[summary]'
                    | first
                    | split: '[video]'
                    | first
                    | split: '[tab]'
                    | first
                    | split: '[deal]'
                    | first
                    | strip_html
                    | truncatewords: product_summary_words
                  }}
                {% endif %}
              </p>
            {% endif %}
            <div class="box-label">{% include 'product-label' %}</div>
            {% include 'price' %}
            <!-- price-container -->
            <button
              class="button btn-cart {% if sold_out %} btn disabled {% endif %}"
              type="button"
              data-toggle="tooltip"
              data-loading-text="{{ 'products.product.loading' | t }}"
              title="{{ 'products.product.add_to_cart' | t }}"
              {% if sold_out == false %}
                onclick="{% if product.variants.first.available %}cart.add('{{  product.variants.first.id  }}'){% else %}location.href='{{product.url}}'{% endif %};"
              {% endif %}
            >
              <span>
                {%- if sold_out == false -%}
                  {{- 'products.product.add_to_cart' | t -}}
                {%- else %}
                  {{ 'products.product.sold_out' | t -}}
                {%- endif -%}
              </span>
            </button>
          </div>
        </div>
        <!-- caption -->
      </div>
    </div>
  </div>
  <!-- product-thumb -->
</div>
<!-- product-layout -->
