<div class="product-image-main col-sm-6 p-sticky">
  <input type="hidden" id="check-use-zoom" value="1">
  <input type="hidden" id="light-box-position" value="1">
  <input type="hidden" id="product-identify" value="{{ product.id }}">
  <div class="lightbox-container"></div>
  {% assign featured_img_src = current_variant.featured_image.src | default: product.featured_image.src %}
  {% assign featured_img_alt = current_variant.featured_image.alt | default: product.featured_image.alt %}
  {% assign product_img_height = product_img_size | split: 'x' | first %}
  {% assign product_img_width = product_img_size | split: 'x' | last %}
  <div class="product-zoom-image">
    <a
      href="{{ featured_img_src | image_url }}"
      class="cloud-zoom main-image"
      id="product-cloud-zoom"
      style="width: {{ product_img_size | split:'x' | first }}px; height: {{ product_img_size | split:'x' | last }}px;"
      rel="showTitle: false ,zoomWidth:{{ product_img_size | split:'x' | first }},zoomHeight:{{ product_img_size | split:'x' | last }},adjustX: 0,position:'inside' "
    >
      <img
        {% if settings.lazyloading_enable %}
          class="lazyload"
          data-src="{{ featured_img_src | image_url: width: product_img_width, height: product_img_height, crop: 'center' }}"
        {% endif -%}
        src="{{ featured_img_src | image_url: width: product_img_width, height: product_img_height, crop: 'center' }}"
        width="{{ product_img_width }}"
        height="{{ product_img_height }}"
        title="{{ featured_img_alt }}"
        alt="{{ featured_img_alt }}"
      >
    </a>
  </div>
  <div class="additional-images owl-carousel owl-theme">
    {% render 'product-slider-media-thumbs', product: product, product_img_size: product_img_size %}
  </div>
  <!-- end wrapper-img-additional -->
</div>
<div class="col-sm-6 product-info-main p-sticky">
  {% render 'product-page-features' %}
</div>
