{% liquid
  render 'section-start', fluid: false, id: 'product-product'
  include 'product-page-section'
  render 'section-end'
-%}
{% schema %}
{
  "name": "Product Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "[Video Guide for product page](https://youtu.be/Agbw0GrE48U?list=PLvJCnPMUAdwr6XxWVo_f9dkVRh8GNCXoa)"
    },
    {
      "type": "select",
      "id": "product_page_layout",
      "label": "Page layout",
      "options": [
        {
          "value": "horizontal_thumbs",
          "label": "Horizontal Thumbs layout"
        },
        {
          "value": "vertical_thumbs",
          "label": "Vertical Thumbs layout"
        },
        {
          "value": "vertical_thumbs_right",
          "label": "Vertical Thumbs Right layout"
        },
        {
          "value": "sticky_layout",
          "label": "Sticky Layout"
        },
        {
          "value": "horizontal_slide_full",
          "label": "Horizontal Slide Full layout"
        },
        {
          "value": "horizontal_slide_grid",
          "label": "Horizontal Slide Grid layout"
        }
      ],
      "default": "horizontal_thumbs"
    },
    {
      "type": "checkbox",
      "id": "show_zoom",
      "label": "Enable Image Zoom",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_preload",
      "label": "Enable Image Preload",
      "default": false,
      "info": "Pre-loading product images, to avoid a lag when a thumbnail is clicked."
    },
    {
      "type": "checkbox",
      "id": "product_grid_img_carousel",
      "label": "Slide All images in product grid?",
      "default": false,
      "info": "Used for Product grid carousel enable\/disable"
    },
    {
      "type": "checkbox",
      "id": "product_sticky_cart",
      "label": "Show Bottom Sticky Add to Cart Bar?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "top_margin",
      "label": "Enable Top Margin?",
      "info": "Include top margin space outside the section.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "top_padding",
      "label": "Enable Top Padding?",
      "info": "Insert a padding space at the beginning of the section.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "bottom_padding",
      "label": "Enable Bottom Padding?",
      "info": "Insert a padding space at the end of the section.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "bottom_margin",
      "label": "Enable Bottom Margin?",
      "info": "Include bottom margin space outside the section.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "bottom_border",
      "label": "Display Bottom Border?",
      "info": "Display a line at the bottom to denote section separation",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_show_count",
      "label": "Show CountDown",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_show_quality",
      "label": "Show Quality",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_show_pay",
      "label": "Show Pay",
      "default": true
    },
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Metafield/Dynamic Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Title : ",
          "label": "Select the Metafield to show"
        },
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-1"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-1"
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_size",
          "label": "Text Size",
          "options": [
            {
              "value": "fs-1",
              "label": "Small"
            },
            {
              "value": "fs-2",
              "label": "Medium"
            },
            {
              "value": "fs-3",
              "label": "Base"
            },
            {
              "value": "fs-4",
              "label": "Large"
            },
            {
              "value": "fs-5",
              "label": "Extra Large"
            },
            {
              "value": "fs-6",
              "label": "Huge"
            }
          ],
          "default": "fs-3"
        },
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-0"
        }
      ]
    },
    {
      "type": "summay",
      "name": "Product Summary",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_summary_stripped",
          "label": "Strip Product Summary",
          "default": true,
          "info": "Strips html tags to show text without format"
        },
        {
          "type": "text",
          "id": "product_summary_words",
          "label": "Words count on summary area",
          "default": "30"
        },
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-0"
        }
      ]
    },
    {
      "type": "reviews",
      "name": "Product Reviews",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-0"
        }
      ]
    },
    {
      "type": "vendor",
      "name": "Product Vendor",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-1"
        }
      ]
    },
    {
      "type": "deal",
      "name": "Product Deals Timer",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-0"
        }
      ]
    },
    {
      "type": "availability",
      "name": "Product Variant Stock",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-1"
        }
      ]
    },
    {
      "type": "sku",
      "name": "Product Variant SKU",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-1"
        }
      ]
    },
    {
      "type": "barcode",
      "name": "Product Variant Barcode",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-1"
        }
      ]
    },
    {
      "type": "size-chart",
      "name": "Size Chart",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "size_chart_src",
          "label": "Size Chart Option",
          "options": [
            {
              "value": "image",
              "label": "Image"
            },
            {
              "value": "html",
              "label": "HTML"
            },
            {
              "value": "page",
              "label": "Page"
            },
            {
              "value": "none",
              "label": "None"
            }
          ],
          "default": "html"
        },
        {
          "type": "image_picker",
          "id": "size_chart_image",
          "label": "Size Chart Image",
          "info": "Upload Size Chart image to show on product page."
        },
        {
          "type": "html",
          "id": "size_chart_html",
          "label": "Size Chart HTML",
          "default": "<table class=\"size-chart-table\">\n  <thead>\n    <tr>\n      <th>Size</th>\n      <th>Waist</th>\n      <th>Hip</th>\n      <th>Length</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>XS</td>\n      <td>24</td>\n      <td>34</td>\n      <td>35</td>\n    </tr>\n    <tr>\n      <td>S</td>\n      <td>26</td>\n      <td>36</td>\n      <td>36</td>\n    </tr>\n    <tr>\n      <td>M</td>\n      <td>28</td>\n      <td>38</td>\n      <td>37</td>\n    </tr>\n    <tr>\n      <td>L</td>\n      <td>30</td>\n      <td>40</td>\n      <td>38</td>\n    </tr>\n    <tr>\n      <td>XL</td>\n      <td>32</td>\n      <td>42</td>\n      <td>39</td>\n    </tr>\n  </tbody>\n</table>"
        },
        {
          "type": "page",
          "id": "size_chart_page",
          "label": "Size Chart Page"
        },
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-0"
        }
      ]
    },
    {
      "type": "product-variants",
      "name": "Product Variants",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "show_variant_swatches",
          "label": "Variant Swatch",
          "options": [
            {
              "value": "false",
              "label": "None"
            },
            {
              "value": "color",
              "label": "Color"
            },
            {
              "value": "thumb",
              "label": "Variant Image"
            }
          ],
          "default": "color",
          "info": "Incase of variant image, it will show colors if variant images are not added to the variants."
        },
        {
          "type": "select",
          "id": "variant_title_display",
          "label": "Variant Title Display on Swatches",
          "options": [
            {
              "value": "",
              "label": "Show"
            },
            {
              "value": "hide",
              "label": "Hide"
            }
          ],
          "default": "hide"
        },
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-0"
        }
      ]
    },
    {
      "type": "form-buy",
      "name": "Product Buy Options",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "product_quantity_message",
          "label": "Show remaining quantity message",
          "info": "Shown when less than 10 items are in stock",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "product_quantity_enable",
          "label": "Show quantity selector",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "overwrite_addtocart_color",
          "label": "Override default Add to Cart Color?",
          "default": false
        },
        {
          "type": "color",
          "id": "addtocart_color_text",
          "label": "Text Color",
          "default": "#454545"
        },
        {
          "type": "color",
          "id": "addtocart_color_bg",
          "label": "Background Color",
          "default": "#fff"
        },
        {
          "type": "checkbox",
          "id": "show_buy_now",
          "label": "Show Buy Now button?",
          "info": "This button will redirect direct to checkout page.",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "overwrite_buy_now_color",
          "label": "Override default Buy Now button Color?",
          "default": false
        },
        {
          "type": "color",
          "id": "buy_now_color_text",
          "label": "Text Color",
          "default": "#454545"
        },
        {
          "type": "color",
          "id": "buy_now_color_bg",
          "label": "Background Color",
          "default": "#fff"
        },
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-0"
        }
      ]
    },
    {
      "type": "tags",
      "name": "Product Tags info",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-0"
        }
      ]
    },
    {
      "type": "collections",
      "name": "Product Collections info",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-0"
        }
      ]
    },
    {
      "type": "box",
      "name": "Feature Blocks",
      "settings": [
        {
          "type": "text",
          "id": "feature_block_icon_1",
          "label": "Image",
          "default": "fa-shopping-cart",
          "info": "Used for adding Icon fonts. Get icon codes from [this link](https:\/\/fontawesome.com\/cheatsheet\/)"
        },
        {
          "type": "textarea",
          "id": "feature_block_description_1",
          "label": "Feature description",
          "default": "Free & Easy returns"
        },
        {
          "type": "text",
          "id": "feature_block_icon_2",
          "label": "Image Icon 2",
          "default": "fa-shipping-fast",
          "info": "Used for adding Icon fonts. Get icon codes from [this link](https:\/\/fontawesome.com\/cheatsheet\/)"
        },
        {
          "type": "textarea",
          "id": "feature_block_description_2",
          "label": "Feature description 2",
          "default": "Free shipping"
        },
        {
          "type": "text",
          "id": "feature_block_icon_3",
          "label": "Image Icon 3",
          "default": "fa-credit-card",
          "info": "Used for adding Icon fonts. Get icon codes from [this link](https:\/\/fontawesome.com\/cheatsheet\/)"
        },
        {
          "type": "textarea",
          "id": "feature_block_description_3",
          "label": "Feature description 3",
          "default": "Lowest price guarantee"
        },
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-2"
        }
      ]
    },
    {
      "type": "trust-badge",
      "name": "Trust Badge",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "trust_badge_image",
          "label": "Image",
          "info": "Upload Trust Badge image to show on product page. Remove to hide"
        },
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-2"
        }
      ]
    },
    {
      "type": "social-sharing",
      "name": "Sharing Links",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-2"
        }
      ]
    },
    {
      "type": "collapse_block",
      "name": "Collapse Block",
      "limit": 5,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "collapse_title",
          "label": "Title",
          "default": "Product Details"
        },
        {
          "type": "checkbox",
          "id": "collapse_show_title",
          "label": "Display Title?",
          "default": true,
          "info": "If the title is hidden, it cannot be expanded/collapsed."
        },
        {
          "type": "checkbox",
          "id": "collapse_open",
          "label": "Open by default?",
          "default": false
        },
        {
          "type": "select",
          "id": "collapse_type",
          "label": "Content Type",
          "options": [
            {
              "value": "description",
              "label": "Product Description"
            },
            {
              "value": "custom",
              "label": "Custom Content"
            }
          ],
          "default": "custom"
        },
        {
          "type": "richtext",
          "id": "collapse_content",
          "label": "Content",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non maximus erat, et bibendum leo. Duis ut massa ante. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed pulvinar rhoncus risus vestibulum luctus. Nunc pretium, mauris id maximus interdum, odio magna vulputate urna, sed fringilla dui sem vitae tortor.</p>"
        },
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-0"
        }
      ]
    },
    {
      "type": "divider",
      "name": "Spacing Divider",
      "settings": [
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-3"
        },
        {
          "type": "select",
          "id": "mb",
          "label": "Margin Bottom",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-3"
        }
      ]
    },
    {
      "type": "custom-html",
      "name": "Custom HTML",
      "settings": [
        {
          "type": "html",
          "id": "custom_html",
          "label": "Custom HTML",
          "info": "This can be used to add HTML tags and JavaScript code snippets. It also allows you to include as many custom form fields on your product page as needed. You can use the [Shopify UI Elements Generator tool](https:\/\/ui-elements-generator.myshopify.com\/pages\/line-item-property) to easily generate the HTML and Liquid code for each form field you'd like to add."
        },
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-2"
        }
      ]
    },
    {
      "type": "custom-liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom Liquid",
          "info": "Can be used for general liquid code input as well as apps code input"
        },
        {
          "type": "select",
          "id": "mt",
          "label": "Margin Top",
          "options": [
            {
              "value": "-0",
              "label": "0"
            },
            {
              "value": "-1",
              "label": "1"
            },
            {
              "value": "-2",
              "label": "2"
            },
            {
              "value": "-3",
              "label": "3"
            },
            {
              "value": "-4",
              "label": "4"
            },
            {
              "value": "-5",
              "label": "5"
            }
          ],
          "default": "-2"
        }
      ]
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Product Page",
      "category": "Product",
      "blocks": [
        {
          "type": "reviews",
          "settings": {
            "mt": "-0"
          }
        },
        {
          "type": "title",
          "settings": {
            "mt": "-2"
          }
        },
        {
          "type": "price",
          "settings": {
            "text_size": "fs-3",
            "mt": "-0"
          }
        },
        {
          "type": "summay",
          "settings": {
            "show_summary_stripped": true,
            "product_summary_words": "30",
            "mt": "-0"
          }
        },
        {
          "type": "divider",
          "settings": {
            "mt": "-3",
            "mb": "-3"
          }
        },
        {
          "type": "availability",
          "settings": {
            "mt": "-0"
          }
        },
        {
          "type": "vendor",
          "settings": {
            "mt": "-0"
          }
        },
        {
          "type": "sku",
          "settings": {
            "mt": "-0"
          }
        },
        {
          "type": "barcode",
          "settings": {
            "mt": "-0"
          }
        },
        {
          "type": "tags",
          "settings": {
            "mt": "-0"
          }
        },
        {
          "type": "collections",
          "settings": {
            "mt": "-0"
          }
        },
        {
          "type": "divider",
          "settings": {
            "mt": "-3",
            "mb": "-4"
          }
        },
        {
          "type": "deal",
          "settings": {
            "mt": "-0"
          }
        },
        {
          "type": "size-chart",
          "settings": {
            "size_chart_src": "html",
            "size_chart_html": "<table class=\"size-chart-table\">\n  <thead>\n    <tr>\n      <th>Size<\/th>\n      <th>Waist<\/th>\n      <th>Hip<\/th>\n      <th>Length<\/th>\n    <\/tr>\n  <\/thead>\n  <tbody>\n    <tr>\n      <td>XS<\/td>\n      <td>24<\/td>\n      <td>34<\/td>\n      <td>35<\/td>\n    <\/tr>\n    <tr>\n      <td>S<\/td>\n      <td>26<\/td>\n      <td>36<\/td>\n      <td>36<\/td>\n    <\/tr>\n    <tr>\n      <td>M<\/td>\n      <td>28<\/td>\n      <td>38<\/td>\n      <td>37<\/td>\n    <\/tr>\n    <tr>\n      <td>L<\/td>\n      <td>30<\/td>\n      <td>40<\/td>\n      <td>38<\/td>\n    <\/tr>\n    <tr>\n      <td>XL<\/td>\n      <td>32<\/td>\n      <td>42<\/td>\n      <td>39<\/td>\n    <\/tr>\n  <\/tbody>\n<\/table>",
            "size_chart_page": "",
            "mt": "-0"
          }
        },
        {
          "type": "product-variants",
          "settings": {
            "show_variant_swatches": "thumb",
            "variant_title_display": "",
            "mt": "-0"
          }
        },
        {
          "type": "form-buy",
          "settings": {
            "product_quantity_message": true,
            "product_quantity_enable": true,
            "overwrite_addtocart_color": false,
            "addtocart_color_text": "#454545",
            "addtocart_color_bg": "#ffffff",
            "show_buy_now": true,
            "overwrite_buy_now_color": false,
            "buy_now_color_text": "#454545",
            "buy_now_color_bg": "#ffffff",
            "mt": "-0"
          }
        }
      ]
    }
  ]
}
{% endschema %}
{% if settings.grid_auto_resize != 'false' -%}
  <script>
    // Equal height grid divs
    $(document).ready(function () {
      setTimeout(function () {
        mass.resizethumbs();
      }, 200);
    });
    $(window).resize(function () {
      setTimeout(function () {
        mass.resizethumbs();
      }, 200);
    });
  </script>
{% endif %}
<style>
  {% if section.settings.show_zoom == false %}
  #cloud-zoom-big,.cloud-zoom-lens {
    display: none !important;
  }
  {% endif %}
  {% if section.settings.overwrite_addtocart_color %}
  .product-info-main .button-cart{
    color: {{ section.settings.addtocart_color_text }};
    background-color: {{ section.settings.addtocart_color_bg }};
  }
  .product-info-main .button-cart:hover {
    background: {{ section.settings.addtocart_color_text }};
    color: {{ section.settings.addtocart_color_bg }};
    border-color: {{ section.settings.addtocart_color_bg }};
  }
  {% endif %}
  {% if section.settings.overwrite_buy_now_color %}
  .shopify-payment-button__button--unbranded{
    color: {{ section.settings.buy_now_color_text }} !important;
    background-color: {{ section.settings.buy_now_color_bg }} !important;
  }
  .shopify-payment-button__button--unbranded:hover {
    background: {{ section.settings.buy_now_color_text }} !important;
    color: {{ section.settings.buy_now_color_bg }} !important;
    border-color: {{ section.settings.buy_now_color_bg }} !important;
  }
  {% endif %}
</style>
